absl-py==0.8.1
alabaster==0.7.12
allennlp==0.9.0
astor==0.8.0
astroid==2.3.3
astropy==4.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
blessings==1.7
blis==0.2.4
boto==2.49.0
boto3==1.10.14
botocore==1.13.14
brotlipy==0.7.0
cachetools==3.1.1
catalogue==0.0.8
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
colorama==0.4.4
conllu==1.3.1
cryptography==2.8
csdmpy==0.3.5
cycler==0.10.0
cymem==2.0.3
dataclasses==0.6
decorator==5.1.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
editdistance==0.5.3
entrypoints==0.3
filelock==3.0.12
flaky==3.6.1
Flask==1.1.1
Flask-Cors==3.0.8
ftfy==5.6
future==0.18.2
gast==0.3.3
gdown==3.13.0
gensim==3.8.1
gevent==1.4.0
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googledrivedownloader==0.4
gpustat==0.6.0
greenlet==0.4.15
grpcio==1.25.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
imagesize==1.1.0
importlib-metadata==0.23
ipdb==0.13.4
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
json-lines==0.5.0
jsonlines==1.2.0
jsonnet==0.14.0
jsonpickle==1.2
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
kmeans-pytorch==0.3
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
more-itertools==7.2.0
murmurhash==1.0.0
natsort==8.1.0
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
neuralcoref==4.0
nltk==3.4.5
notebook==6.0.2
numexpr==2.7.1
numpy==1.18.5
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.1.26
opt-einsum==3.1.0
overrides==2.5
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pipreqs==0.4.10
plac==0.9.6
pluggy==0.13.0
plyfile==0.7.1
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.8.0
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pyconll==2.2.1
pycparser==2.19
pyerfa==1.7.1.1
Pygments==2.4.2
pylint==2.4.3
pyOpenSSL==19.0.0
pyparsing==2.4.5
pyrsistent==0.15.5
PySocks==1.7.1
pytest==5.2.2
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.3
PyWavelets==1.1.1
pyzmq==18.1.0
qtconsole==4.5.5
rdflib==4.2.2
regex==2019.11.1
requests==2.22.0
requests-oauthlib==1.3.0
responses==0.10.7
rsa==4.0
s3transfer==0.2.1
sacremoses==0.0.35
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.2
seaborn==0.11.2
Send2Trash==1.5.0
sentencepiece==0.1.83
six==1.16.0
snowballstemmer==2.0.0
spacy==2.1.9
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorboardX==1.9
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.4
thinc==7.0.8
tokenizers==0.9.4
torch==1.7.1
tornado==6.0.3
tqdm==4.38.0
traitlets==4.3.3
transformers==4.0.0
Unidecode==1.1.1
urllib3==1.25.6
validators==0.14.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
word2number==1.1
wrapt==1.11.1
yarg==0.1.9
zipp==0.6.0
